# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

BuildLog.htm
*.dep
*.manifest
*.ilk
*.obj
*.pdb
*.exe
*.idb
*.ncb
*.manifest.res
*.suo
*.user

